@font-face {
  font-family: "Gotham-Medium";
  src: url("../00_Resources/01_Tipography/Gotham-Medium.otf");
}
@font-face {
  font-family: "Gotham-Book";
  src: url("../00_Resources/01_Tipography/Gotham-Book.otf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../00_Resources/01_Tipography/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-medium";
  src: url("../00_Resources/01_Tipography/Lato-medium.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../00_Resources/01_Tipography/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Heavy";
  src: url("../00_Resources/01_Tipography/Lato-Heavy.ttf");
}
@font-face {
  font-family: "Lato-regular";
  src: url("../00_Resources/01_Tipography/Lato-Regular.ttf");
}
