* {
  box-sizing: border-box;
}

/* font face, giveing for fille */

@font-face {
  font-family: "Gotham-Medium";
  src: url("../00_Resources/01_Tipography/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../00_Resources/01_Tipography/Gotham-Book.otf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../00_Resources/01_Tipography/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-medium";
  src: url("../00_Resources/01_Tipography/Lato-medium.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../00_Resources/01_Tipography/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Heavy";
  src: url("../00_Resources/01_Tipography/Lato-Heavy.ttf");
}

@font-face {
  font-family: "Lato-regular";
  src: url("../00_Resources/01_Tipography/Lato-Regular.ttf");
}

/* comun variables */

:root {
  --white-color: #FFF;
  --black-color: #000;
  --margin-top-let: 20px;
}

/*
____________________________________________________________________________________________________
*/

html {
  max-width: 2400px;
  min-width: 700px;
  font-size: 14px;
}

body {
  background: var(--white-color);
}

/* header section */

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--margin-top-let);
  position: relative;
  width: 100%
}

/* gives position relative to its normal position, and it is flex 1 */

.hero--logo {
  position: relative;
  margin-bottom: var(--margin-top-let);
}

.hero--menu {
  margin: var(--margin-top-let);
  width: 100%;
  position: relative;
}

.menu--list {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  position: relative;
}

.menu--list >* a {
  color: var(--black-color);
  cursor: pointer;
  font: 1em Gotham-Medium;
  flex-grow: 1;
  margin-left: var(--margin-top-let);
  text-decoration: none;
  position: relative;
}

.menu--list >* a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  background: var(--black-color);
  height: 3px;
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0.0, 1);
  width: 30px;
}

.menu--list >* a:hover::before {
  transform: scale(1, 1);
}

.menu--list >* a:hover,
.menu--list>* a::before {
  transition: color .3s, background-color .3s, transform .3s;
}

.hero--title {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.hero--title img {
  width: 100%;
  height: auto;
  resize: both;
}

.hero--title--text {
  color: var(--white-color);
  background: var(--black-color);
  font: 1em Lato-Bold;
  height: 20px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* main section */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.content--titles {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 68px;
  justify-content: space-between;
  margin: 40px 0 30px 0;
  position: relative;
  width: 100%;
}

.content--title {
  font: 3em Lato-Heavy;
  font-size: 5vmin;
  line-height: 1;
  left: 48px;
  margin: 0px;
  position: absolute;
  text-transform: uppercase;
}

.content--small {
  font: 1em Lato-Bold;
  font-size: 2vmin;
  position: absolute;
  right: 8.3vw;
  top: 30px;
}

/*
 content photos and coletion div

  */

.content--photos {
  position: relative;
  width: 100%;
}

.content--colection {
  font: 12px/15px Lato-medium;
  position: absolute;
  line-height: 1;
  top: 138px;
  /* Rotate from top left corner (not default) */
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/*
Photos content  all
*/

.photos--all {
  margin-left: 38px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

/* set all the children with the same style propieties */
.photos--all .image--big,
.photos--all .image--small {
  margin: 10px;
  position: relative;
}

/* set all big images with the same style propieties */
.image--big {
  max-width: 620px;
  max-height: 300px;
}

.image--big img,
.image--small img {
  width: 100%;
  height: auto;
  resize: both;
}


/* set all small images with the same style propieties */
.image--small {
  max-width: 300px;
  max-height: 300px;
}

/* set all hover images contents with the same style propieties */
.hover-image--big {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  position: absolute;
  padding: 40px 20px 10px 20px;
  opacity: 0;
  top: 0px;
  text-transform: uppercase;
}

.hover-image--small {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  position: absolute;
  padding: 40px 20px 10px 20px;
  opacity: 0;
  top: 0px;
}

.image--big:hover .hover-image--big,
.image--small:hover .hover-image--small {
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
}

.hover-image--big p,
.hover-image--small p {
  color: var(--white-color);
  font: 1.23em Gotham-Book;
  margin-top: 30px;
  margin-bottom: 0px;
}

.hover-image--big h2,
.hover-image--small h2 {
  color: var(--white-color);
  font: 35px/44px Gotham-Book;
  margin-top: 2px;
}

.button--big--1 {
  background: none;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  font: 1.43em Lato-Regular;
  margin-top: 60px;
  position: relative;
}

.button--big--1::before {
  content: '';
  position: absolute;
  bottom: -2px;
  background: var(--white-color);
  height: 3px;
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0.0, 1);
  width: 60px;
}

/*
 button more products
  */

.content--more {
  background: none;
  border: none;
  cursor: pointer;
  font: 1em Lato-regular;
  margin: 30px 0 40px 0;
  position: relative;
  text-transform: uppercase;
}

.content--more::before {
  content: '';
  position: absolute;
  bottom: -2px;
  background: var(--black-color);
  height: 3px;
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0.0, 1);
  width: 30px;
}

.content--more:hover::before,
.button--big--1:hover::before {
  transform: scale(1, 1);
}

.content--more:hover,
.content--more::before {
  transition: color .3s, background-color .3s, transform .3s;
}

/* footer section */
.footer--store {
  color: var(--white-color);
  background: var(--black-color);
  font: 1em Lato-Bold;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
